body {
  margin: 20px 200px;
  padding: 0;
  font-family: sans-serif;
}

.button {
  margin: 12px;
}

.card-title {
  margin-left: 20px;
}

.centered-container {
  text-align: center;
}

.loading-spinner {
  margin: 100px;
}